app
SQL
PHP.DockerfilePG
docker-compose.yml
docker-composePG.yml
MYSQL.sh
nginx.conf
PHP.Dockerfile
phpMySQL.env
phpPG.env
REBUILD_CONTAINERS.sh
RESTART_WEBSITE.sh
SETUP_MYSQL.sh
START_CONTAINERS.sh
STOP_CONTAINERS.sh
WTK.sh
config/ioncube_loader_lin_7.4.so
config/ioncube_loader_lin_8.1.so
config/php.ini
